title = "О компании"
url = "/about"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "NikolaySirotkin\About\Models\Info"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "headline"
noRecordsMessage = "Записи не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "NikolaySirotkin\About\Models\Lead"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "headline"
noRecordsMessage = "Записи не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList3]
modelClass = "NikolaySirotkin\About\Models\Parter"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "image"
noRecordsMessage = "Записи не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set infos = builderList.records %}


<div class="services_hero">
			<img
				src="{{ infos[0].title_image | media }}"
				alt="{{ infos[0].title_image_alt }}"
				class="services_hero_img"
			/>
		</div>
		<section class="services_title">
			<div class="container">
				<div class="services_title_grid">
					<h1 class="h1 servuces_page_h1">{{ infos[0].headline }}</h1>
					<div class="services_page_description">
						{{ infos[0].description }}
					</div>
				</div>
			</div>
		</section>
{% set leads = builderList2.records %}

<section class="aboute_lead" style="background: url({{leads[0].bg_image | media}}); background-position: center; background-size: cover">
			<div class="container">
				<div class="aboute_lead_grid">
					<div class="aboute_lead_content">
						<h2 class="h2 aboute_lead_h2">{{ leads[0].headline }}</h2>
						<div class="aboute_lead_description">
							{{ leads[0].description }}
						</div>
						<div class="aboute_content_lead_name_wrapper">
							<div class="aboute_content_lead_name">
								<h3 class="h3">{{ leads[0].lead_name }}</h3>
							</div>
							<div class="aboute_content_lead_dolzhnost">
								{{ leads[0].lead_post }}
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
        <div class="mobile_image_lead">
                <img src="{{ leads[0].mobile_img | media }}" alt="{{ leads[0].lead_name }} - {{ leads[0].lead_post }}">
            </div>

		<section class="aboute_slider_section">
			<div class="container">
				<h2 class="h2 aboute_slider_h2">Наши партнеры</h2>
			</div>
			<div class="swiper aboute_slider">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					<!-- Slides -->
					{% set partners = builderList3.records %}
					{% for partner in partners %}
                        {% if partner.is_active == 1 %}
                            <div class="swiper-slide">
                                <div class="aboute_slide">
                                    <img
                                        src="{{ partner.image | media }}"
                                        alt="{{ partner.image_alt }}"
                                    />
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}


				</div>
			</div>
		</section>
