title = "Салон интерьерного текстиля"
url = "/"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "NikolaySirotkin\Works\Models\Category"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "Записи не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "NikolaySirotkin\About\Models\Info"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "headline"
noRecordsMessage = "Записи не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList3]
modelClass = "NikolaySirotkin\Works\Models\WorkInInterior"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "Записи не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<section class="hero" style="background: url({{ this.theme.titleImage | media }})">
			<div class="container">
				<div class="hero_content">
					<h1 class="h1">
						<span>Интерьерный салон</span>
						Текстильный Перформанс
					</h1>
					<div class="hero_description">
						{{ this.theme.homeDescrition }}
					</div>
					<button class="button hero_button button_function">
						Рассчитать проект
					</button>
				</div>
			</div>
		</section>
		<section class="pluses">
			<div class="container">
				<h2 class="h2">{{ this.theme.pluseHeadline }}</h2>
				<div class="pluses_grid">
					<div class="pluses_item">
						<div class="pluses_icon">
							<img src="{{ this.theme.pluseOneIcon | media }}" alt="{{ this.theme.pluseOneHeadline }} icon" />
						</div>
						<h3 class="h3 pluses_h3">{{ this.theme.pluseOneHeadline }}</h3>
						<div class="pluses_description">
							{{ this.theme.pluseOneDescription }}
						</div>
					</div>
					<div class="pluses_item">
						<div class="pluses_icon">
							<img src="{{ this.theme.pluseTwoIcon | media }}" alt="{{ this.theme.pluseTwoHeadline }} icon" />
						</div>
						<h3 class="h3 pluses_h3">{{ this.theme.pluseTwoHeadline }}</h3>
						<div class="pluses_description">
							{{ this.theme.pluseTwoDescription }}
						</div>
					</div>
					<div class="pluses_item">
						<div class="pluses_icon">
							<img src="{{ this.theme.pluseThreeIcon | media }}" alt="{{ this.theme.pluseThreeHeadline }} icon" />
						</div>
						<h3 class="h3 pluses_h3">{{ this.theme.pluseThreeHeadline }}</h3>
						<div class="pluses_description">
							{{ this.theme.pluseThreeDescription }}
						</div>
					</div>
				</div>
			</div>
		</section>
		{% set worksInInteriors = builderList3.records %}

		<section class="portfolio">
			<div class="container">
				<div class="portfolio_grid">
					<div class="portfolio_content">
						<h2 class="h2">{{ worksInInteriors[0].title }}</h2>
						<div class="portfolio_description">
							{{ worksInInteriors[0].description }}
						</div>
						<a href="{{'portfolio' | page}}" class="button_text"
							>Смотреть все работы
							<span class="button_text_icon">
								<img src="{{'assets/images/arrow.svg' | theme}}" alt="arrow icon" /> </span
						></a>
					</div>
					{% for workInInterior in worksInInteriors[0].works_gallery_home %}
                        <div class="portfolio_item">
						<img
							class="portfolio_item_img"
							src="{{ workInInterior.path }}"
							alt="{{ workInInterior.description }}"
						/>
					</div>
                    {% endfor %}

				</div>
			</div>
		</section>
		{% set servicesCategories = builderList.records %}
		<section class="services">
			<div class="container">
				<h2 class="h2 services_h2">Что можно заказать?</h2>
				<ul class="services_tab_list">
                {% for servicesCategory in servicesCategories %}
					<li class="services_tab_item">
						<button class="services_tab_link {% if loop.index == 1 %} active {% endif %}" data-tab="#tab__{{ loop.index }}">
							{{ servicesCategory.title }}
						</button>
					</li>
                {% endfor %}

				</ul>
				<div class="services_content">
                {% for servicesCategory in servicesCategories %}
					<img
						class="services_content_img {% if loop.index == 1 %} active {% endif %}"
						src="{{ servicesCategory.image | media }}"
						alt="{{ servicesCategory.image_alt }}"
						id="tab__{{ loop.index }}"
					/>
                {% endfor %}

				</div>
			</div>
		</section>
		<section class="cta cta_home" style="background: url({{ this.theme.ctaBgImage | media }}); background-repeat: no-repeat; background-size: cover;">
			<div class="container">
				<div class="cta_grid cta_home_grid">
					<div class="cta_content">
						<h2 class="h2 cta_h2">{{ this.theme.ctaHeadline }}</h2>
						<div class="cta_description">
							{{ this.theme.ctaDescription }}
						</div>
						<button class="button button_function">{{ this.theme.ctaButtonText }}</button>
					</div>
				</div>
			</div>
		</section>
		{% set infoAbouts = builderList2.records %}

		<section class="about">
			<div class="container">
				<div class="about_grid">
					<div class="about_images">
						<div class="about_images_grid">
							<div class="about_images_item">
								<img
									src="{{infoAbouts[0].home_about_images[0].path}}"
									alt="{{infoAbouts[0].home_about_images[0].description}}"
									class="about_images_item__image"
								/>
							</div>
							<div class="about_images_item">
								<img
									src="{{'assets/images/logo_white_emblema.svg' | theme}}"
									alt="Логотип Текстильный перформанс"
								/>
							</div>
							<div class="about_images_item">
								<img
									src="{{'assets/images/logo_white_emblema.svg' | theme}}"
									alt="Логотип Текстильный перформанс"
								/>
							</div>
							<div class="about_images_item">
								<img
									src="{{infoAbouts[0].home_about_images[1].path}}"
									alt="{{infoAbouts[0].home_about_images[1].description}}"
									class="about_images_item__image"
								/>
							</div>
						</div>
					</div>
					<div class="about_content">
						<h2 class="h2 about_h2">{{infoAbouts[0].headline}}</h2>
						<div class="about_description">
							{{infoAbouts[0].home_text | raw}}
						</div>
						<a href="{{'about' | page}}" class="button_text"
							>Подробнее о нас
							<span class="button_text_icon">
								<img src="{{'assets/images/arrow.svg' | theme}}" alt="arrow icon" /> </span
						></a>
					</div>
				</div>
			</div>
		</section>
		<section class="contacts contacts_home">
			<div class="container">
				<div class="contacts_grid">
					<div class="contacts_content">
						<h2 class="h2 contacts_h2">Контакты</h2>
						<div class="contacts_content_grid">
							<div class="contacts_item">
								<h3 class="h3 contacts_h3">Адрес</h3>
								<div class="contacts_info">
									{{this.theme.address}}
								</div>
							</div>
							<div class="contacts_item">
								<h3 class="h3 contacts_h3">Телефон</h3>
								<div class="contacts_info">
									<a class="contacts_link phone" href=""
										>{{this.theme.phone}}</a
									>
								</div>
							</div>
							<div class="contacts_item">
								<h3 class="h3 contacts_h3">Почта</h3>
								<div class="contacts_info">
									<a class="contacts_link" href="mailto:{{this.theme.email}}"
										>{{this.theme.email}}</a
									>
								</div>
							</div>
							<div class="contacts_item">
								<h3 class="h3 contacts_h3">Социальные сети</h3>
								<div class="contacts_info">
									{% partial 'site/social' %}
								</div>
							</div>
						</div>
						<button class="button contacts_button button_function">
							Заказать звонок
						</button>
					</div>
					<div class="contacts_map">
						<script
							type="text/javascript"
							charset="utf-8"
							async
							src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1758112b51585b51b99cba81d789eddf918d9fd0d983af98e100dbe7e244fe04&amp;width=1000&amp;height=520&amp;lang=ru_RU&amp;scroll=true"
						></script>
					</div>
				</div>
			</div>
		</section>
