title = "Услуги"
url = "/services"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "NikolaySirotkin\Services\Models\InfoPage"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "description"
noRecordsMessage = "Записи не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "NikolaySirotkin\Services\Models\Service"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "headline"
noRecordsMessage = "Записи не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList3]
modelClass = "NikolaySirotkin\Services\Models\Step"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "Записи не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}

<div class="services_hero">
			<img
				src="{{ records[0].title_image | media }}"
				alt="Описание из админки"
				class="services_hero_img"
			/>
		</div>
		<section class="services_title">
			<div class="container">
				<div class="services_title_grid">
					<h1 class="h1 servuces_page_h1">{{ records[0].headline }}</h1>
					<div class="services_page_description">
						{{ records[0].description }}
					</div>
				</div>
			</div>
		</section>

		<section class="services_page_slider">
			<div class="container">
				<div class="services_page_slide_title">
					<h2 class="h2 services_page_slider_h2">
						Что мы предлагаем и уже выполняли
					</h2>
					<div class="services_slider_buttons">
						<button class="slider_services_button slider_button_prev">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="48"
								height="48"
								viewBox="0 0 48 48"
								fill="none"
							>
								<path
									d="M9.25359 32.5125C9.35672 32.4656 9.52547 32.2781 9.60984 32.1188C9.95672 31.4813 9.92859 31.4438 6.60984 28.125L3.56297 25.0781L25.3786 25.0313C49.4442 24.975 47.4661 25.0312 47.7755 24.3937C47.963 23.9906 47.8786 23.5969 47.513 23.2969L47.2317 23.0625L25.3973 23.0625C13.388 23.0625 3.56297 23.0344 3.56297 22.9969C3.56297 22.9594 4.95047 21.5344 6.65672 19.8281C9.45047 17.025 9.75047 16.6969 9.75047 16.425C9.75047 15.7875 9.33797 15.375 8.70047 15.375C8.43797 15.375 7.96922 15.8063 4.36922 19.3875C2.14734 21.5906 0.281716 23.475 0.216092 23.5781C0.0567177 23.8313 0.0660942 24.1406 0.225468 24.45C0.394219 24.7594 8.02547 32.3719 8.31609 32.5219C8.56922 32.6438 8.98172 32.6438 9.25359 32.5125Z"
									fill="#242424"
								/>
								<defs>
									<clipPath id="clip0_365_168">
										<rect
											width="48"
											height="48"
											fill="white"
											transform="translate(48 48) rotate(180)"
										/>
									</clipPath>
								</defs>
							</svg>
						</button>
						<button class="slider_services_button slider_button_next">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="48"
								height="48"
								viewBox="0 0 48 48"
								fill="none"
							>
								<path
									d="M38.7464 15.4875C38.6433 15.5344 38.4745 15.7219 38.3902 15.8813C38.0433 16.5188 38.0714 16.5563 41.3902 19.875L44.437 22.9219L22.6214 22.9688C-1.44422 23.025 0.533906 22.9688 0.224531 23.6063C0.0370314 24.0094 0.121406 24.4031 0.487031 24.7031L0.768281 24.9375L22.6027 24.9375C34.612 24.9375 44.437 24.9656 44.437 25.0031C44.437 25.0406 43.0495 26.4656 41.3433 28.1719C38.5495 30.975 38.2495 31.3031 38.2495 31.575C38.2495 32.2125 38.662 32.625 39.2995 32.625C39.562 32.625 40.0308 32.1938 43.6308 28.6125C45.8527 26.4094 47.7183 24.525 47.7839 24.4219C47.9433 24.1688 47.9339 23.8594 47.7745 23.55C47.6058 23.2406 39.9745 15.6281 39.6839 15.4781C39.4308 15.3563 39.0183 15.3563 38.7464 15.4875Z"
									fill="#242424"
								/>
							</svg>
						</button>
					</div>
				</div>

				<!-- Slider main container -->
				<div class="swiper services_slider">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Slides -->
						{% set services = builderList2.records %}

                        {% for service in services %}

                            {% if service.is_active == 1 %}

                            <div class="swiper-slide slide_services_slide">
                                <div class="slide_services_page_img">
                                    <img
                                        src="{{ service.image | media }}"
                                        alt="{{ service.headline }}"
                                        class="slide_services_page_image"
                                    />
                                </div>
                                <div class="slider_services_title">
                                    <h3 class="h3 slide_services_h3">{{ service.headline }}</h3>
                                </div>
				            </div>

                            {% endif %}

                        {% endfor %}
					</div>

					<!-- If we need scrollbar -->
					<div class="swiper-scrollbar slider_services_scrollbar"></div>
				</div>
			</div>
		</section>
		<section class="steps_services">
			<div class="container">
				<h2 class="h2 steps_h2">Этапы работ</h2>
				<div class="step_services_grid">
				{% set steps = builderList3.records %}
                {% for step in steps %}
                    <div class="steps_services_item">
						<div class="step_services_title">
							<h3 class="h3 step_services_h3">{{ step.title }}</h3>
						</div>
						<div class="steps_services_number">{{ loop.index }}</div>
						<div class="step_services_description">
							{{ step.description }}
						</div>
					</div>
                {% endfor %}

				</div>
			</div>
		</section>
		<section class="services_form">
			<div class="container">
				<div class="services_form_grid">
					<div class="services_form_content">
						<h2 class="h2 services_form_h2">
							{{ records[0].cta_headline }}
						</h2>
						<div class="services_form_description">
							{{ records[0].cta_description }}
						</div>
						<form class="form_services_form modal_form">
							<input
								class="modal_form_input"
								type="text"
								placeholder="Ваше имя"
							/>
							<input
								class="modal_form_input"
								type="text"
								placeholder="Ваш номер телефона"
							/>
							<div class="form_button">
								<div>
									<button class="button button_modal">
										{{ records[0].cta_button_text }}
									</button>
								</div>
								<div class="form_button_conf">
									Нажимая на кнопку, Вы принимаете
									<a href="#">условия обработки персональных данных</a>
								</div>
							</div>
						</form>
					</div>
					<div class="services_form_image">
						<img
							src="{{ 'assets/images/logo_white_emblema.svg' | theme }}"
							alt="Текстильный Перформанс Лого"
						/>
					</div>
				</div>
			</div>
		</section>
