        	<footer class="footer black_bg">
			<div class="container">
				<div class="footer_grid">
					<div class="footer_content_left">
						<div class="footer_logo">
							<a class="header_logo_link" href="/">
								<img
									src="{{this.theme.logo | media}}"
									alt="Текстильный перформанс - салон интерьерного текстиля"
								/>
							</a>
						</div>
						<div class="footer_content_description">
							Все материалы опубликованные на сайте, пренадлежат компании
							Текстильный Перформанс, копирование материалов возможно только с
							указанием источника
						</div>
					</div>
					<div class="footer_content_right">
						<address class="header_contacts footer_naw_address_wrapper">
							<div
								class="header_nav_address_wrapper footer_naw_address_wrapper"
							>
								<a href="" class="header_phone phone"
									>{{this.theme.phone}}</a
								>
								<div class="header_nav_address">
									{{this.theme.address}}
								</div>
							</div>
							<div class="social headersocial footer_social">
								<ul class="social_list">
									<li class="social_item">
										<a
											href="{{this.theme.vkontakte}}"
											target="_blank"
											class="social_link"
										>
											<img src="{{'assets/images/vk_white.svg' | theme}}" alt="vk_white_icon" />
										</a>
									</li>
									<li class="social_item">
										<a
											href="{{this.theme.telegram}}"
											target="_blank"
											class="social_link"
										>
											<img
												src="{{'assets/images/telegram_white.svg' | theme}}"
												alt="telegram_white_icon"
											/>
										</a>
									</li>
									<li class="social_item">
										<a
											href="{{this.theme.whatsapp}}"
											target="_blank"
											class="social_link"
										>
											<img
												src="{{'assets/images/whatsapp_white.svg' | theme}}"
												alt="whatsapp_white_icon"
											/>
										</a>
									</li>
								</ul>
							</div>
						</address>
					</div>
					<div class="footer_copyrite">
						<div class="copyrite">© 2014 - {{ "now"|date("Y") }} Все права защищены.</div>
						<a href="https://vk.com/n_sirotkin" class="footer_copyrite_link" target="_blank">Разработка сайтов</a>
					</div>
				</div>
			</div>
		</footer>

		<div class="modal_wrapper">
			<div class="modal">
				<div class="modal_button_close">x</div>
				<div class="modal_header">
					<h3 class="h3 modal_h3"></h3>
					<div class="modal_description">
						Заполните форму и&nbsp;мы&nbsp;перезвоним вам
					</div>
				</div>
				<div class="modal_body">
					<form class="modal_form">
						<input
							class="modal_form_input"
							type="text"
							placeholder="Ваше имя"
						/>
						<input
							class="modal_form_input"
							type="text"
							placeholder="Ваш номер телефона"
						/>
						<div class="form_button">
							<button class="button button_modal">Отправить</button>
						</div>
					</form>
				</div>
			</div>
			<div class="overlay overlay_modal"></div>
		</div>
        <div class="slider_works_page">
			<div class="slider_container">
				<div class="swiper slider_works">
					<div class="swiper-wrapper slider_works_wrapper"></div>
				</div>
			</div>
			<div class="slider_overlay"></div>
		</div>
        <!-- Scripts -->
        <script src="{{'assets/libs/swiper/swiper-bundle.min.js' | theme}}"></script>
        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',
            'assets/js/main.js',
        ] | theme }}"></script>
        {% scripts %}

        {% flash %}
            <p data-control="flash-message" data-interval="7" class="flashmessage {{ type }}">
                {{ message }}
            </p>
        {% endflash %}
    </body>
</html>
