<ul class="social_list">
										<li class="social_item">
											<a
												href="{{this.theme.vkontakte}}"
												target="_blank"
												class="social_link"
											>
												<img src="{{'assets/images/vk.svg' | theme}}" alt="vk_icon" />
											</a>
										</li>
										<li class="social_item">
											<a
												href="{{this.theme.telegram}}"
												target="_blank"
												class="social_link"
											>
												<img src="{{'assets/images/telegram.svg' | theme}}" alt="telegram_icon" />
											</a>
										</li>
										<li class="social_item">
											<a
												href="{{this.theme.whatsapp}}"
												target="_blank"
												class="social_link"
											>
												<img src="{{'assets/images/whatsapp.svg' | theme}}" alt="whatsapp_icon" />
											</a>
										</li>
									</ul>
